@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(224, 210, 210);
}

.container {
    width: 45%;
    margin: 0 auto;
   /*  padding: 0px 20px; */
    background-color: white;
}

form {
   padding-left: 20px;
}

h2 {
    color: goldenrod;
    padding: 15px 0px;
    font-size: 18px;
}

i {
    color: gray;
}

input {
    border: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    border: 1px solid gray;
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 133px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #f0a500;
    color: #fff !important; 
    border-color: #bd8200;
}
